doctype html
html
  head
    meta(charset='utf-8')
    title Scraper
    meta(name='description', content='XML output')
    meta(name='author', content='CharlesCode')
    script(type='text/javascript', charset='utf8', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    link(rel='stylesheet', type='text/css', href='//cdn.datatables.net/1.10.16/css/jquery.dataTables.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css')
    link(rel='stylesheet', type='text/css', href='/css/normalize.css')
    link(rel='stylesheet', type='text/css', href='/css/skeleton.css')
    link(rel='stylesheet', type='text/css', href='/css/app.min.css')
    script(type='text/javascript', charset='utf8', src='//cdn.datatables.net/1.10.16/js/jquery.dataTables.js')
  body
    form(action='/', method='post')
      div
        label Username:
        input(type='text', name='username')
        br
      div
        label Password:
        input(type='password', name='password')
      div
        input(type='submit', value='Submit')

