doctype html
head
  meta(charset='utf-8')
  title Scraper
  meta(name='description' content='XML output')
  meta(name='author' content='CharlesCode')
  script(type='text/javascript' charset='utf8' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
  link(rel='stylesheet' type='text/css' href='//cdn.datatables.net/1.10.16/css/jquery.dataTables.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css')
  link(rel='stylesheet' type='text/css' href='/css/normalize.css')
  link(rel='stylesheet' type='text/css' href='/css/skeleton.css')
  link(rel='stylesheet' type='text/css' href='/css/app.min.css')
  script(type='text/javascript' charset='utf8' src='//cdn.datatables.net/1.10.16/js/jquery.dataTables.js')
.container
  .content
    header
      .container
        .top_left.three.columns
          h1.go_heading ScraperTool
          p
        .top_right.nine.columns
          input#inp_url.url_inp(type='text' autocomplete='on' autofocus='')
          input#hidden_name.hidden-name(type='text' autocomplete='off')
          input#hidden_id.hidden-id(type='text' autocomplete='off')
          input#hidden_urlid.hidden-urlid(type='text' autocomplete='off')
          .top-rt-btns
            .list-btn
              button#show-list ShowList
            .add-btn
              a(href='#ex1' data-modal='')
                button#edit-target Editor
        #ex1.modal
          form#new-item-form(name='item-adder')
            .modal-block-wrap
              .modal-blocks.form-text
                div.modal-input-wrapper
                  label(for='i_name') Content Provider
                  input#i_name(type='text' name='item-name' autocomplete='off' autofocus='')
                div.modal-input-wrapper
                  label(for='i_url') Url
                  input#i_url(type='text' name='item-url' autocomplete='off')
                div.modal-input-wrapper.type
                  label(for='i_type') Type
                  input#i_type(type='text' name='item-type' autocomplete='off')
                div.modal-input-wrapper.method
                  label(for='i_method') Method
                  input#i_method(type='text' name='item-method' autocomplete='off')
                div.modal-input-wrapper.top
                  label(for='i_top') top
                  input#i_top(type='text' name='item-top' value='url' autocomplete='off')
                div.modal-input-wrapper.loc
                  label(for='i_loc') loc
                  input#i_loc(type='text' name='item-loc' value='loc' autocomplete='off')
                div.modal-input-wrapper
                  label(for='i_title') title
                  input#i_title(type='text' name='item-title' autocomplete='off')
                div.modal-input-wrapper
                  label(for='i_changed') changed
                  input#i_changed(type='text' name='item-changed' autocomplete='off')
                div.modal-input-wrapper
                  label(for='i_word') word
                  input#i_word(type='text' name='item-word' autocomplete='off')
                div.modal-input-wrapper
                  label(for='i_lang') lang
                  input#i_lang(type='text' name='item-lang' autocomplete='off')
                div.modal-input-wrapper
                  label(for='i_hour') hour
                  input#i_hour(type='text' name='item-hour' autocomplete='off')
                div.modal-input-wrapper
                  label(for='i_pop') pop
                  input#i_pop(type='text' name='item-hour' autocomplete='off')
                input#i_mediaid(type='hidden' name='item-id' autocomplete='off' value='2')
                input#i_urlid(type='hidden' name='url-id' autocomplete='off' value='1')
              .modal-blocks.radios
                .radio-wrap
                  input#b-add(type='radio' name='protor' value='add-cp' autocomplete='off')
                  label(for='b-add') Add CP
                  input#b-add-url(type='radio' name='protor' value='add-url' autocomplete='off')
                  label(for='b-add-url') Add Url
                  input#b-modify(type='radio' name='protor' value='modify' autocomplete='off')
                  label(for='b-modify') Modify Url
                  input#b-delete-url(type='radio' name='protor' value='del-url' autocomplete='off')
                  label(for='b-delete-url') Delete Url
                  input#b-delete-cp(type='radio' name='protor' value='del-cp' autocomplete='off')
                  label(for='b-delete-cp') Delete CP
              div
                .submit_wrap
                  input#item-submit(type='submit' name='submit-item')
          a.modal-close-btn(href='#' rel='modal:close') Close
      img.spinner(src='fatspinner.gif')
    .row.main
      .side_dash.four.columns
        form#resource-method(name='sidebar-methods')
          #submit-btn.resource
            .submit_wrap
              input#method-submit(type='submit' name='submit')
          #resource-type.resource
            h3 Resource
            .rsource_wrap
              .rsource.redata
                label(for='xml_typ') XML
                input#xml_typ(type='radio' name='rsource_typ' value='xml' autocomplete='off')
              .rsource.redata
                label(for='http_typ') HTTP
                input#http_typ(type='radio' name='rsource_typ' value='http' autocomplete='off' checked='checked')
          #xml-method-type.resource.resource-method
            h3 Method
            .rsource_wrap
              .rsource.redata
                label(for='raw-xml') Raw
                input#raw-xml(type='radio' name='rsource_met' value='raw-xml' autocomplete='off')
              .rsource.redata
                label(for='flat-xml') Flat
                input#flat-xml(type='radio' name='rsource_met' value='flat-xml' autocomplete='off' checked='checked')
              .rsource.redata
                label(for='deep-xml') Deep
                input#deep-xml(type='radio' name='rsource_met' value='deep-xml' autocomplete='off')
          #http-method-type.resource.resource-method
            h3 Method
            .rsource_wrap
              .rsource.redata
                label(for='raw_http') raw
                input#raw_http(type='radio' name='http_typ' value='raw-http' autocomplete='off')
              .rsource.redata
                label(for='flat_http') flat
                input#flat_http(type='radio' name='http_typ' value='flat-http' autocomplete='off')
              .rsource.redata
                label(for='schema_http') schema
                input#schema_http(type='radio' name='http_typ' value='schema-http' autocomplete='off' checked='checked')
              .rsource.redata
                label(for='deep_http') deep
                input#deep_http(type='radio' name='http_typ' value='deep-http' autocomplete='off')
          #xml-string-type.resource.resource-method.xml_strings
            .rsource_wrap
              .rsource.remeth.top
                .imp_contain
                  label(for='obj_top') top
                  input#obj_top(type='text' name='obj_str' value='url' autocomplete='off')
              .rsource.remeth.url
                .imp_contain
                  label(for='obj_loc') url
                  input#obj_loc(type='text' name='obj_str' value='loc' autocomplete='off')
              .rsource.remeth.title
                .imp_contain
                  label(for='obj_title') title
                  input#obj_title(type='text' name='obj_str' autocomplete='off')
              .rsource.remeth
                .imp_contain.changed
                  label(for='obj_changed') changed
                  input#obj_changed(type='text' name='obj_str' autocomplete='off')
              .rsource.remeth.word
                .imp_contain
                  label(for='obj_word') word
                  input#obj_word(type='text' name='obj_str' autocomplete='off')
              .rsource.remeth.lang
                .imp_contain
                  label(for='obj_lang') lang
                  input#obj_lang(type='text' name='obj_str' autocomplete='off')
              .rsource.remeth.hour
                .imp_contain
                  label(for='obj_hour') hour
                  input#obj_hour(type='text' name='obj_str' autocomplete='off')
              .rsource.remeth.pop
                .imp_contain
                  label(for='obj_pop') pop
                  input#obj_pop(type='text' name='obj_str' autocomplete='off')
          #http-string-type.resource.resource-method.http_strings
            .rsource_wrap
              .rsource.remeth.top
                .imp_contain
                  label(for='obj_top') tag 1
                  input#obj_top(type='text' name='obj_str' autocomplete='off')
              .rsource.remeth.url
                .imp_contain
                  label(for='obj_loc') loc
                  input#obj_loc(type='text' name='obj_str' autocomplete='off')
              .rsource.remeth.title
                .imp_contain
                  label(for='obj_title') title
                  input#obj_title(type='text' name='obj_str' autocomplete='off')
              .rsource.remeth
                .imp_contain.changed
                  label(for='obj_changed') changed
                  input#obj_changed(type='text' name='obj_str' autocomplete='off')
              .rsource.remeth.word
                .imp_contain
                  label(for='obj_word') word
                  input#obj_word(type='text' name='obj_str' autocomplete='off')
              .rsource.remeth.lang
                .imp_contain
                  label(for='obj_lang') lang
                  input#obj_lang(type='text' name='obj_str' autocomplete='off')
              .rsource.remeth.hour
                .imp_contain
                  label(for='obj_hour') hour
                  input#obj_hour(type='text' name='obj_str' autocomplete='off')
      .data_display.eight.columns
        .display_btn_wrap
          .parse_all
            button#parse_all parse all
          .get_words
            button#get_words get result
          .list_count
            span.count_text list count
            input#list_count.list_counter(type='text' autocomplete='off')
          a(href='/logout')
            .logout-btn
              button#logout logout
        #display_tb.table_wrap
script.
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js')
script(src='/bundle.js')

