doctype html
html
  head
    meta(charset='utf-8')
    title Scraper
    meta(name='description', content='XML output')
    meta(name='author', content='CharlesCode')
    script(type='text/javascript', charset='utf8', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    link(rel='stylesheet', type='text/css', href='//cdn.datatables.net/1.10.16/css/jquery.dataTables.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css')
    link(rel='stylesheet', type='text/css', href='/css/normalize.css')
    link(rel='stylesheet', type='text/css', href='/css/skeleton.css')
    link(rel='stylesheet', type='text/css', href='/css/app.min.css')
    script(type='text/javascript', charset='utf8', src='//cdn.datatables.net/1.10.16/js/jquery.dataTables.js')
  body.login_reg_form
    .container
      #loginbox.mainbox_loginbox
        .panel.panel-info
          .panel-heading
            .panel-title Sign Up
            .panel-error= message
            div.sign_in
              a#signinlink(href='/') Sign In
          .panel-body
            form.form-horizontal(role='form', method='post', action='/signup', onsubmit='return checkblank(this);')
              #signupalert.alert.alert-danger(style='display:none')
                p Error:
                span
              .form-group
                .input-wrap
                  input.form-control(type='text', name='first_name', placeholder='First Name')
              .form-group
                .input-wrap
                  input.form-control(type='text', name='last_name', placeholder='Last Name')
              .form-group
                .input-wrap
                  input.form-control(type='text', name='user_name', placeholder='User Name')
              .form-group
                .input-wrap
                  input.form-control(type='password', name='password', placeholder='Password')
              .form-group
                // Button
                .input-wrap
                  button#btn-signup.btn.btn-info(type='submit') Sign Up

