doctype html
html
  head
    meta(charset='utf-8')
    title Scraper
    meta(name='description', content='XML output')
    meta(name='author', content='CharlesCode')
    script(type='text/javascript', charset='utf8', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    link(rel='stylesheet', type='text/css', href='//cdn.datatables.net/1.10.16/css/jquery.dataTables.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css')
    link(rel='stylesheet', type='text/css', href='/css/normalize.css')
    link(rel='stylesheet', type='text/css', href='/css/skeleton.css')
    link(rel='stylesheet', type='text/css', href='/css/app.min.css')
  body.login_reg_form
    .container
      #loginbox.mainbox_loginbox
        .panel.panel-info
          .panel-heading
            .panel-title Sign In
            .panel-error= message
            // <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a></div>
          .panel-body
            form#loginform.form-horizontal(role='form', method='post', action='/login')
              .input-group
                span.input-group-addon
                  i.glyphicon.glyphicon-user
                input#login-username.form-control(type='text', name='user_name', value='', placeholder='username')
              .input-group
                span.input-group-addon
                  i.glyphicon.glyphicon-lock
                input#login-password.form-control(type='password', name='password', placeholder='password')
              .input-group
                //
                  <div class="checkbox">
                  <label>
                  <input id="login-remember" type="checkbox" name="remember" value="1"> Remember me
                  </label>
                  </div>
              .form-group
                // Button
                .controls
                  button#btn-login.btn.btn-success(type='submit') Login
              hr
              .form-group
                .control
                  div.account-message
                    | Don't have an account!
                    a(href='/signup')
                      | Sign Up Here

