$header-blue: #295C6E;
$body-blue: #57A7C2;
$background: #e3e3e3;
body {
    font-family: arial;
}
.container {
     background: $background;
     width: 90%;
     max-width: 1200px;
}
.modal {
    max-width: 600px;
    form {
        margin-bottom: 1rem;
        .submit_wrap {
            margin-top: 1rem;
        }
    }
    .modal-block-wrap {
        width: 100%;
        font-size: 0;
        
        .modal-blocks {
            display: inline-block;
            
            font-size: 14px;
            vertical-align: top;
            &.radios {
               width: 30%;
                .radio-wrap {
                    width: 100%;
                    padding: 2rem 0 0 3rem;
                    label,
                    input {
                        display: inline-block;
                        margin-top: 1rem;
                    }
                    label {
                        min-width: 130px;
                        vertical-align: top;
                    }
                    input[type="radio"] {
                      width: 20px;
                      height: 20px;
                      margin-right: 1rem;
                    }
                }
            }
            &.form-text {
                width: 70%;
                label {
                    font-weight: normal;
                }
                input {
                    width: 100%;
                    height: 24px;
                    margin-bottom: .5rem;
                }
                font-weight: normal;
                .modal-input-wrapper.type,
                .modal-input-wrapper.method,
                .modal-input-wrapper.top,
                .modal-input-wrapper.loc {
                    width: 49%;
                    float: left;
                }
                .modal-input-wrapper.type,
                .modal-input-wrapper.top {
                    margin-right: 2%;
                }
            }
        }
    }
    .modal-close-btn {
        color: #E05E0D;
    }
}
header {
    width: 100%;
    h1 {
       margin: 1rem 0 0 1rem;
    }
    .go_heading {
        text-align: left;
        color: $header-blue;
        font-size: 2.3rem;
        font-weight: bold;
        padding: 1rem;
    }
    p {
        text-align: left;
    }
    .top_right {
        padding: 3rem 1rem 0rem 0rem;
        box-sizing: border-box;
        .url_inp {
            display: inline-block;
            width: 60%;
        }
        
        .hidden-name,
        .hidden-id,
        .hidden-urlid {
            display: none;
        }
        .top-rt-btns { 
            padding-left: 0rem;
            display: inline-block;
            width: 37%;
            

            .add-btn,
            .list-btn {
                display: inline-block;
                padding-left: 1rem;
                button {
                    padding: 0 .5rem;
                    height: 2.5rem;
                    line-height: 2.5rem;
                }
            }

        }
    }
    .spinner {
    	position: absolute;
    	width: 12rem;
    	height: 12rem;
    	top: 20%;
    	left: 50%;
    	margin-left: -4rem;
    	display: none;
    	opacity: 0;
    	transition: opacity .25s ease-in;
    	&.progress {
    		opacity: 1;
    	}
    }
}

.main {
    padding-bottom: 8rem;
    padding: 2 1.5rem;
    
    .columns {
        padding: 1rem;
    }
    .side_dash {
        padding: 1.5rem 0rem 1rem 2.5rem;
       h3 {
            font-size: 1.8rem;
            margin-bottom: .8rem;
        }
        .resource.resource-method {
            display: none;
            .func_list {
                p {
                   margin-bottom: .4rem;
                }
            }
            &#http-method-type {
                display: block;
            }
            &#http-string-type {
                display: block;
            }
        }
         .resource.resource-method.xml_strings,
         .resource.resource-method.http_strings {
            position: relative;
            .rsource_wrap {
                position: absolute;
                top:0;
                left:0;
                width: 100%;
                
                padding: .3rem .8rem .8rem .8rem;
                border: 2px solid #D1D1D1;
                border-radius: .25rem;
                .rsource.remeth .imp_contain input {
                    width: 100%;
                    margin: 0;
                    height: 2.5rem;
                    cursor: text;
                }
                .rsource.remeth .imp_contain label {
                    margin-bottom: .3rem;
                }
            }
        }
        .rsource_wrap {
            width: 100%;
            text-align: center;
            box-sizing: border-box;
             background: #fff;
            border: 1px solid #fff;
            border-radius: .3rem;
            margin-bottom: 1rem;
            padding: .5rem 1rem 0rem 1.5rem;

            &:after {
                content: '';
                display: table;
                clear: both;
            }
             .rsource.redata {
                width: 33.3%;
                display: inline-block;
                float: left;
               text-align: left;
                input,
                label {
                   cursor: pointer;
                }
            }
            .rsource.remeth {
                width: 100%;
                .imp_contain {
                    width: 100%;
                    display: block;
                   text-align: left;
                   overflow: auto;
                    input,
                    label {
                        display: inline-block;
                        float: left;
                       cursor: pointer;
                    }
                    label {
                        width: 30%;
                    }
                    input {
                        width: 30%;
                        margin-left: 1.5rem;
                        margin-top: .5rem;
                        margin-bottom: .5rem;
                    }
                }
            }
            .rsource.remeth.top,
            .rsource.remeth.url,
            .rsource.remeth.hour {
                width: 49%;
                float: left;
            }
            .rsource.remeth.top {
                margin-right: 2%;
            }
        }
        .submit_wrap {
            width: 100%;
            text-align: center;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
    }
    .data_display {
        padding: 1.8rem 2.5rem 2rem 0;
        margin-top: 0;
        margin-left: 2%;
         height: 100%;
         .display_btn_wrap {
            display: block;
            width: 100%;
            &:after {
                content: "";
                clear: both;
                display: table;
            }
             .parse_all,
             .get_words,
             .list_count,
             .logout-btn {
               float: left;
               padding-left: .1rem;
                button {
                        font-size: 10px;
                        margin-bottom: .4rem;
                        padding: 0;
                        height: 2rem;
                        line-height: 2rem;
                        min-width: 100px;
                    }
             }
             .get_words,
             .list_count {
                padding-left: 1.2rem;
             }
             .count_text {
                display: inline;
                padding-right: .5rem;
             }
             input.list_counter {
                display: inline;
                margin-bottom: 0;
                max-width: 6rem;
                height: 2rem;
                padding: 0 0 0 1rem;
             }
             .logout-btn {
                float: right;
                button {
                    min-width: 60px;
                }
            }
         }
        .table_wrap {
            border: 8px solid #757E82;
            padding: 1.2rem 2.5rem 2.5rem 2.5rem;
            background: #fff;
            min-height: 500px;
            overflow-y: scroll;
            height: 1000px;
            a {
                word-wrap: break-word;
            }
            a.small_txt {
                font-size: 10px;
            }
            .dataTables_wrapper {
                .dataTables_length {
                    label {
                        margin-bottom: 0;
                        select {
                            margin-bottom: 1rem;
                            height: 28px;
                            padding-top: 3.3px;
                        }
                    }
                }
                .dataTables_filter {
                    label {
                        margin-bottom: 0;
                        input {
                            margin-bottom: 0rem;
                        }
                    }
                }
            }
            .display {
               a {
                    color: $header-blue;
                    &:hover {
                        color: gray;
                    }
                }
                input[type=button] {
                    height: 20px;
                    line-height: 20px;
                    padding: 0 5px;
                    font-size: 8px;
                }
            }
            textarea {
                width: 100%;
                min-height: 500px;
            }
            .list_wrapper {

                .url_wrapper_wrap {
                    margin-bottom: .5rem;
                    //border-top: 1px solid #ABAEAF;
                }
                div:nth-child(2) {
                    border-top: none;
                }
                .url_wrapper_wrap.even {
                    background: #ffffff;
                }
                .url_wrapper_wrap.odd {
                    background: #F2F1F1;
                }
                a {
                    color: #444;//#757E82;
                    text-decoration: none;

                    &:hover {
                        color: #9CA7AB;
                    }
                }
                .row .columns {
                    padding: .4rem 1rem .1rem 1rem;
                }
                .name_row {
                    
                    border: 1px solid #ABAEAF;
                    margin-top: 2rem;
                    background: #e3e3e3;
                }
                .url_row {

                    
                   // border-left: 1px solid #ABAEAF;
                    //border-right: 1px solid #ABAEAF;
                    //border-bottom: 1px solid #ABAEAF;
                }
                .meta_row,
                .name_row {
                   
                    .url_date,
                    .url_parse_html,
                    .six.columns {
                        margin-left: 0;
                        
                    }
                    .url_parse_html {
                        text-align: right;
                    }
                    a.btn {
                        color: #222;
                        padding: .15rem .6rem 0 .6rem;
                        height: 2.5rem;
                        line-height: 2.5rem;
                        margin-bottom: .3rem;
                        border: 1px solid #222;
                        border-radius: 2px;
                        font-size: 1rem;
                        transition: .25s ease all;
                        &:first-child {
                            //margin-right: 1rem;
                        }
                        &:hover {
                            background-color: $background;
                        }
                    }
                    a.btn.top_edit,
                    a.btn.url_item_parse {
                        &:hover {
                            background-color: #ffffff;
                        }
                    }
                    a.btn.url_item_parse {
                        //margin: 0 auto;
                    }
                    span {
                        &:first-child {
                            margin-right: 3rem;
                        }
                    }
                    .art_heading,
                    .full_heading {
                        background: #fff;
                        height: 1.7rem;
                        line-height: 1.7rem;
                        text-align: center;
                        padding: 0;
                        margin: .5rem 0;
                        width: 50%;
                    }
                    .full_heading {
                        width: 100%;
                    }
                    .author,
                    .lastmod {
                        text-align: center;
                    }
                }

            }
        }
        .table_wrap.eddy {
            display: none;
        }
    }
}
