$header-blue: #295C6E;
$body-blue: #57A7C2;

.login_reg_form {
	.mainbox_loginbox {
		margin-top: 3rem;
		.panel-info {
			padding: 1rem 1rem 0;
			.panel-title {
				font-size: 2rem;
			}
			.panel-heading {
				.sign_in {
					float:right;
					font-size: 85%;
					position: relative; top:-10px;
					padding-right: 1rem;
					a {
						color: $body-blue;
						transition: .3s ease all;
						&:hover {
							color: lighten($body-blue, 10%);
						}
					}
				}
			}
			.panel-body {
				padding-top: 1.5rem;
			}
			form {
				margin-bottom: 1.5rem;
			}
			.input-group,
			.form-group {
				margin-left: 1rem;
			}
			.input-group {
				margin-bottom: 10px;
				input {
					margin-bottom: 1rem;
				}
			}
			.account-message {
				padding-top:15px;
				font-size:85%;
				a {
					padding-left: 1rem;
					color: $body-blue;
					transition: .3s ease all;
					&:hover {
						color: lighten($body-blue, 10%);
					}
				}
			}
			.form-group {
				.btn-success {
					margin-bottom: 2rem;
				}
			}
			hr {
				border-top: 1px solid #888;
				margin: 0;
			}
		}
	}
}