extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner NewScrape
    div.Content
      form(action='http://127.0.0.1:8081/process_get', method='GET')
        label First Name:
        input(type='text', name='first_name')
        label Last Name:
        input(type='text', name='last_name')
        input(type='submit', value='Submit')
    div.NavButtons
      a(href="/user")
          div.NavButton Make It Happen!
