block variables
doctype html
head
  meta(charset='utf-8')
  title Scraper
  meta(name='description' content='XML output')
  meta(name='author' content='CharlesCode')
  script(type='text/javascript' charset='utf8' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
  link(rel='stylesheet' type='text/css' href='//cdn.datatables.net/1.10.16/css/jquery.dataTables.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css')
  link(rel='stylesheet' href='/static/css/normalize.css')
  link(rel='stylesheet' href='/static/css/skeleton.css')
  link(rel='stylesheet' href='/static/css/style.min.css')
  script(type='text/javascript' charset='utf8' src='//cdn.datatables.net/1.10.16/js/jquery.dataTables.js')
.container
      block layout-content
.content
script.
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js')
script(src='https://unpkg.com/axios/dist/axios.min.js')
script(src='/static/js/app.min.js')
